version: '3.8'

services:
  # 1. Your Taxi App
  taxi-app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models  # Allows you to update the model without rebuilding
    networks:
      - monitoring

  # 2. Prometheus (The Collector)
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - monitoring

  # 3. Grafana (The Dashboard)
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring

networks:
  monitoring:

volumes:
  grafana_data: