name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Get the Code
    - name: Checkout Code
      uses: actions/checkout@v3

    # Set up Python (for testing)
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    # Install Dependencies
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f src/app/requirements.txt ]; then pip install -r src/app/requirements.txt; fi
        pip install pytest

    - name: Run Unit Tests
      run: |
        pytest

    # 5. Log in to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build and Push the Docker Image
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/nyc-taxi-api:latest